* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* Meny */
.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1rem 0;
  z-index: 10;
}
.main-nav ul {
  list-style: none;
}
.main-nav li {
  display: inline-block;
  margin: 0 1.5rem;
}
.main-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.main-nav a:hover {
  color: goldenrod;
}
.main-nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.main-nav a:hover {
  color: goldenrod;
}
/* Hero */
.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("img/birgit-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end; /* text till höger */
  align-items: center;
  text-align: right; /* text inriktad höger */
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  padding-right: 5%; /* lite luft till höger */
}

.hero__text {
  z-index: 1;
  max-width: 600px;
  padding: 0 1rem;
}

.hero__text h1 {
  font-size: 6vw; /* responsiv storlek */
  font-family: "Rockville Solid Regular", cursive;
  margin-bottom: 20px;
  margin-top: 0;
}

.hero__text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero__text .play-btn {
  font-size: 26px;
  color: #5c00ce;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  line-height: 90px;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.hero__text .play-btn i {
  position: relative;
  top: 2px;
  left: 2px;
}

.hero__text .play-btn:after {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
  content: "";
  z-index: -1;
}

{
  font-family: 'Poppins', sans-serif !important;
}
